
.font-size-14{
    font-size: 11px !important;
}
.card-style{
    border-radius: 20px !important;
    margin: 0px 15px !important;
}
.label-card-level{
    background-color: #ff6600; 
    border-radius: 10px; 
    padding: 0px 5px;
}

.img-size-rend{
    object-fit: cover !important;
}

.contenedor-flexbox {
    display: flex; /*Convertimos al menú en flexbox*/
  
}