
.font-size-14{
    font-size: 11px !important;
}
.card-style{

    margin: 20px 0px !important;
}
.label-card-level{
    background-color: #ff6600; 
    border-radius: 10px; 
    padding: 0px 5px;
}

.padding-laterals{
    padding: 0px 500px !important;
}