.letra-cat{
    font-size: 15px;
  }

  .rating{
    width: 100% !important;
  }
  
  .rating-star-profile>form>label.star {
    padding: 10px 2px !important;
    font-size: 20px !important;
  }
  
  .rating-new-valoration>form>label.star {
    float: right !important;
    padding: 10px 2px !important;
    font-size: 30px !important;
    width: 20%;
    text-align: center;
  }
  
.grid-valoration{
    margin: 15px !important;
    border-radius: 10px !important;
    background-color: #e2e2e2 !important;
}

